<form ng-submit="ProblemsAddCtrl.submit()">
  <div class="container-fluid body">
      <div class="row">       
          <div class="col-sm-3"> <!-- Define Problem -->
        <a href="#"><strong><i class="glyphicon glyphicon-list"></i> Define Problem</strong></a>

        <hr>
        <div class="row">       
          <div class="col-sm-10">
          <div class="form-group">
                <label>Assign Problem to Students: 
                  </br>
                  <span style="color:#999999">(hold ctrl to select more than one)</span>
                </label>
                </br>
                </br>
                <select style="height: 154px" multiple class="form-control selectStudents" id="selectStudents">
                  <option ng-repeat="std in ProblemsAddCtrl.students">{{std.name}}</option>
                </select>
          </div>
          <hr>
          <br/>
            <!-- <div class="form-group">
              <label>Select Language:</label>
              <select class="form-control" id="language">
                <option>Java</option>
                <option>C++</option>
                <option>C</option>
                <option>Python</option>
              </select>
              </br>
              </br>
              </br>
              <label>Select Section:</label> 
              <select class="form-control" id="section">
                <option>Java Basics</option>
                <option>Conditional Statements</option>
                <option>Loops</option>
              </select>
              </br>
              </br>
              </br>
              <label>Select Topic:</label> 
              <select class="form-control" id="topic">
                <option>Data Types</option>
                <option>If Statements</option>
                <option>Output</option>
              </select>
              
              <hr>

              
            </div> -->
          </div>
        </div>
          </div>
          
    
        <div class="col-sm-6" > <!-- Problem Creation Column -->
          <a href="#"><strong><i class="glyphicon glyphicon-education"></i> Problem Creation</strong></a>

          <hr>
          
          
          <div class="form-group">
            <label>Problem Name:</label>
            <input ng-model="ProblemsAddCtrl.title" type="text" class="form-control" id="problemName" required>
            </br>
          
            <label for="comment">Description:</label>
            <textarea ng-model="ProblemsAddCtrl.description" class="form-control" rows="25" id="comment" required></textarea>
          </div>

          <input class="btn btn-primary pull-right" type="submit">
          <hr>
        </div>
          
        <div class="col-sm-3">  
           <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Test Creation</strong></a>
           <hr>
           
           <div class="row">
             <div class="pull-right">
               <a ng-click="ProblemsAddCtrl.addTestCase()" class="btn btn-info" >Add a Test</a>
             </div>
          </div>

          <div style="overflow-y: scroll; height: 76vh;">
            <label for="comment">Tests:</label>
            <ul class="nav nav-pills nav-stacked" id="stacked-menu">
              <li ng-repeat="test in ProblemsAddCtrl.testCases track by $index">
                <div class="list-group-item list-group-item-info">
                  <a data-toggle="collapse" data-parent="#stacked-menu" href="#p{{$index + 1}}">Test {{$index + 1}}<span class="caret arrow"></span></a>

                  <a href="" class="pull-right" ng-click="ProblemsAddCtrl.deleteTest($index)">delete</a>
                </div>

                <ul class="nav nav-pills nav-stacked collapse in" id="p{{$index + 1}}">
                  <li>
                    <div>
                      <div class="list-group-item">
                        <label>Hidden: <input type="checkbox" ng-model="test.isHidden"></label>
                      </div>
                      <div class="list-group-item"><label>Input:</label>
                        <textarea ng-model="test.inputs" class="form-control" rows="5" id="comment" required></textarea>
                      </div>
                      <div class="list-group-item"><label>Output:</label>
                        <textarea ng-model="test.expectedOutput" class="form-control" rows="2" id="comment" required></textarea>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <!-- <div style="overflow-y: scroll; height: 76vh;">
            <label for="comment">Tests:</label>
            <div ng-repeat="test in ProblemsAddCtrl.testCases">
              <li class="list-group-item list-group-item-info">
                Test {{$index + 1}}

                <a href="" class="pull-right" ng-click="ProblemsAddCtrl.deleteTest($index)">delete</a>
              </li>
              <li class="list-group-item">
                <label>Hidden: <input type="checkbox" ng-model="test.isHidden"></label>
              </li>
              <li class="list-group-item"><label>Input:</label>

                <textarea ng-model="test.inputs" class="form-control" rows="5" id="comment" required></textarea>
              </li>
              <li class="list-group-item"><label>Output:</label>

              <textarea ng-model="test.expectedOutput" class="form-control" rows="2" id="comment" required></textarea>
              </li>
            </div>
          </div> -->
        </div>
  </div>
  <!-- /Main -->  
</form>