<!-- Current Task Jumbotron -->	
<div class="container-fluid" ng-init="problemsCtrl.init()">
	<div class="coding-section" style="margin-top: 20px">
		<div >
			<div class="col-md-6 description">
				<div style="background-color: white; padding: 20px; min-height: 85vh">
					<h1>{{problemsCtrl.title}}</h1>

					<div id="description-pannel">
					</div>

					<div class="mw-highlight mw-content-ltr" dir="ltr">
						
					</div>
				</div>
			</div>
			<div class="col-md-6 editor-panel">
				<div class="editor-options">
					<span>
						<select class="" id="languageSelector">
						  <option value="text/x-csrc" name="c">C</option>
						  <option value="text/x-python" name="python2">Python2</option>
						  <option value="text/x-python" name="python3">Python3</option>
						  <option value="text/javascript" name="javascript">Javascript</option>
						  <!-- <option value="text/x-c++src">C++</option>
						  <option value="text/x-java">Java</option> -->
						</select>
					</span>
					<span class="pull-right">
						<button class="btn btn" ng-disable="problemsCtrl.isProcessing" ng-click="problemsCtrl.run()">
							Run Code
							<i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" ng-show="problemsCtrl.isProcessing"></i>
						</button>
						<button class="btn btn-primary" ng-disable="problemsCtrl.isProcessing" ng-click="problemsCtrl.submit()">
							Submit 
							<i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" ng-show="problemsCtrl.isProcessing"></i>
						</button>
					</span>

				</div>
				
				<br><br>

				<div class="editor">
					<textarea id="code-editor" ng-model="problemsCtrl.store"></textarea>
				</div>
				
				<div>
					<ul class="nav nav-tabs">
					  <li class="menu" ng-repeat="test in problemsCtrl.tests track by $index">
					  	<a data-toggle="tab" href="#test{{$index + 1}}">
					  		Test {{$index + 1}}
					  		<i class="fa pull-right" ng-class="test.class" aria-hidden="true" data-toggle="tooltip" title="{{test.output}}"></i>
					  	</a>
				  	</li>
				  	<li class="menu">
					  	<a data-toggle="tab" href="#hiddenTests">
					  		Hidden tests <i class="fa pull-right" ng-class="problemsCtrl.isSubmitSuccess"></i>
					  	</a>
				  	</li>
					</ul>

					<div class="tab-content">
					  <div class="tab-pane fade" ng-repeat="test in problemsCtrl.tests track by $index" id="test{{$index + 1}}">
					  	<div>
			  		    <div>
			  		    	<p>Input (stdin):</p>
			  		    	<pre>{{test.inputs}}</pre>
		  		    	</div>
			  		    <div>
			  		    	<p>Expected Output:</p>
			  		    	<pre>{{test.expectedOutput}}</pre>
			  		    </div>
			  		    <div ng-show="test.output">
				  		    <p>Your Output (stdout):</p>
				  		    <pre>{{test.output}}</pre>
		  		    	</div>
						  </div>
						 </div>

  				  <div class="tab-pane fade" id="hiddenTests">
  	  		    <div>
  	  		    	<div class="row">
  	  		    		<div ng-repeat="test in problemsCtrl.hiddenTests track by $index" class="col-md-3">
  	  		    			Test {{$index + 1}}
  	  		    			<a href="" data-toggle="tooltip" title="{{test.output}}">
  	  		    				<i class="fa" ng-class="test.class" aria-hidden="true" ></i>
  	  		    			</a>
  	  		    		</div>
  	  		    	</div>
    		    	</div>
  				  </div>
  				
					</div>

				</div>

			</div>
		</div>

	</div>
</div>