<div class="container" ng-init="problemsCtrl.getAll()">
<!-- {{problemsCtrl.problems}} -->
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th>Id</th> -->
        <th>Title</th>
        <!-- <th>Assigner</th> -->
        <!-- <th>Assignee</th> -->
        <!-- <th>Complete rate</th> -->
        <th>Due date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="problem in problemsCtrl.problems track by $index">
        <!-- <td>{{problem._id}}</td> -->
        <td><a ui-sref="problems.id({id: problem._id})">{{problem.title}}</a></td>
        <!-- <td>{{problem.assignTo[0].assignerName}}</td> -->
        <!-- <td><a ng-repeat="assignee in problem.assignTo">{{assignee.assigneeName}}, </a></td> -->
        <!-- <td>70%</td> -->
        <td>{{problem.deadline}}</td>
      </tr>
    </tbody>
  </table>
</div>