<div id="main-header">
 <nav class="navbar navbar-default navbar-fixed-top">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" ui-sref="main">CS<span class="logo-dec">Helper</span></a>
     </div>
     <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav navbar-right">
         <li ng-show="$ctrl.$state.current.name == 'main'"><a href="index.html">Home</a></li>
         <li ng-show="$ctrl.$state.current.name == 'main'"><a href="#feature">About</a></li>
         <!-- <li ng-show="$ctrl.$state.current.name == 'main'"><a href="#portfolio">Tutor</a></li> -->
         <!-- <li ng-show="$ctrl.$state.current.name == 'main'"><a href="#testimonial">Student</a></li> -->
         <li ng-show="$ctrl.$state.current.name == 'main'"><a href="#contact">Contact Us</a></li>

         <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="teacher">Dashboard</a></li>
         <li class="dropdown">
           <a ng-show="$ctrl.isLoggedIn()" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{ $ctrl.getCurrentUser().name }} <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a ui-sref="problems.all">All Problem</a></li>
             <li><a ui-sref="problems.add" ng-show="$ctrl.isTutor() || $ctrl.isAdmin()">New Problem</a></li>
             <li class="divider"></li>
             <li><a ui-sref="settings">Change Password</a></li>
             <li><a ui-sref="logout">Logout</a></li>
           </ul>
         </li>
       </ul>


     </div>
   </div>
 </nav>
</div>