
<!-- Main -->
<div class="body" ng-init="teacherCtrl.initAttempts()">
    <div class="row">
        
        
      <div class="col-sm-3"> <!-- Section - Topic - Problem Column (Accordion) -->

        
        <a href="#"><strong><i class="glyphicon glyphicon-list"></i> Choose a Problem</strong></a>

        <hr>
        <div class="form-group">
          <label>Select Problem:</label>
          <select class="form-control target" id="language" ng-model="teacherCtrl.currentProblem">
            <option ng-repeat="(problemId, problem) in teacherCtrl.problems" value="{{problemId}}">{{problem.title}}</option>
            <!-- <option ng-show="teacherCtrl.problems.length === 0">Nothing to show</option> -->
          </select>
        </div>
          
      </div>
      



      <div class="col-sm-7"> <!-- Problem / Attempt Column -->
      <a href="#"><strong><i class="glyphicon glyphicon-education"></i> Problem and Student Attempts</strong></a>
      <hr>
      <!-- <input type="" class="form-control" name="" placeholder="Search" ng-model="teacherCtrl.query"> -->
    
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="attempt in teacherCtrl.problems[teacherCtrl.currentProblem].attempts track by $index">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading{{$index}}">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#attempt{{$index}}" aria-expanded="true" aria-controls="attempt{{$index}}">
                <i class="more-less glyphicon glyphicon-plus"></i>
                Attempt #{{$index + 1}}:
                <i ng-class="attempt.class"></i>
              </a>
            </h4>
          </div>
          <div id="attempt{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p>
                <label>Language:</label><code>{{attempt.language}}</code>
              </p>
              <p>
                <label>Date:</label> {{attempt.createdAt | date:'medium'}}
              </p>

              <p>
                <label>Code:</label>
                <pre><code>{{attempt.content}}</code></pre>
              </p>
            </div>
          </div>
        </div>
      </div>      
    </div>
</div>